@model List<Song>

<!-- ***** New Hits Songs ***** -->
<div class="col-12 col-lg-4">
	<div class="new-hits-area mb-100">
		<div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
			<p>Yeni Eklenenler</p>
			<h2>En Çok Dinlenenler</h2>
		</div>

		@foreach (var item in Model)
		{
			<!-- Single Top Item -->
			<div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
				<div class="first-part d-flex align-items-center">
					<div class="thumbnail">
						<img style="width:75px; height:75px;" src="@item.Album.CoverImage" alt="">
					</div>
					<div class="content-">
						<h6>@item.Album.AppUser.Name @item.Album.AppUser.Surname</h6>
						<p>@item.SongName</p>
					</div>
				</div>
				<audio preload="auto" controls>
					<source src="@item.SongUrl">
				</audio>
			</div>
		}


	</div>
</div>